body {
    font-family: $secondary-font !important;
    padding: 0;
    margin: 0;
    background: $primary-color;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar{
    width: 12px;
    background: $tertiary-color;
  }
  
  body::-webkit-scrollbar-thumb{
    background: $white-color;
  }
  