.container.pokeinfo{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100vw;
   
     .title{
       flex-direction: row;
       justify-content: center;
       align-items: center;
   
       img{
         
         margin-bottom: 15px;
       }
     }
    
     h2{
       font-size: 2.5rem;
       color: $white-color;
      
   
       &::first-letter{
         text-transform: uppercase;
       }
     }
   
     .pokemon-infos{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
     }
   
     .pokemon-infos-head{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   
   
       .card{
         width: 100px;
         height: 100px;
         border-radius: 30px;
         border: 2px solid $tertiary-color;
         background: $white-color;
         display: flex;
         align-items: center;
         justify-content: center;
         box-shadow: 1px 1px 5px $black-color;
       }
       
     }
   
     .pokemon-infos-body{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
     
       border-radius: 10px;
     }
     ul{
       list-style: none;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       padding: 0;
       border-radius: 15px;
       box-shadow: 1px 1px 5px $black-color;
   
       .info{
         background: $white-color;
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: row;
         margin-bottom: 10px;
         
   
          &:first-child .left {
           border-start-start-radius: 20px;
         }
   
         &:nth-child(2){
           border-start-end-radius: 10px;
         }
   
          &:nth-child(5) .left{
           border-bottom-left-radius: 20px;
         }
     
         &:last-child {
           border-end-end-radius: 10px;
         }
        
         
   
         .left{
           font-size: 1.3rem;
           font-weight: 800;
           background: $tertiary-color;
           width: 200px;
           color: $white-color;
           padding:20px;
         
         }
   
         
   
         .right{
           width: 50%;
           display: flex;
           text-align: center;
           align-items: center;
           justify-content: center;
           font-size: 1.3rem;
           font-weight: 600;
         }
   
       }
       
   
     }
   
     form {
       width: 70vw;
       display: flex;
       justify-content: center;
       flex-direction: row;
       gap: 30px;
   
       .form-control {
         width: 40%;
   
         .input-options {
           margin-top: -30px;
           width: 100%;
           max-height: 150px;
           background: $white-color;
           padding: 10px;
           border-radius: 10px;
           overflow-y: auto;
           overflow-x: hidden;
       
           .option{
               width: 100%;
              
               display: flex;
               justify-content: center;
               align-items: center;
               text-align: center;
               font-size: 1.2rem;
               margin: 10px;
               cursor: pointer;
               
           }
   
           .option:first-child{
               margin-top: 30px;
           }
   
           &::-webkit-scrollbar{
               width: 10px;
              
           }
       
           &::-webkit-scrollbar-thumb{
               background: $tertiary-color;
               border-radius: 10px;
           }
          
       }
   
       
   
     
   
       }
   
       .form-input {
         position: relative;
         font-family: $primary-font;
         color: $tertiary-color;
         font-size: 1rem;
         font-weight: 700;
         background: $white-color;
         width: 100%;
         height: 30px;
        
         padding: 10px;
         border: none;
         border-radius: 10px;
         box-shadow: 1px 1px 5px $black-color;
         outline: none;
         &::placeholder {
           text-align: center;
           font-family: $primary-font;
           font-size: 1.1rem;
           color: $tertiary-color;
           font-weight: 700;
         }
         z-index: 2;
       }
   
       button {
         height: 50px;
         padding: 10px;
         background: $tertiary-color;
         border: none;
         box-shadow: 1px 1px 10px $black-color;
         border-radius: 10px;
         padding: 0px 35px;
         font-size: 1.1rem;
         color: $white-color;
         cursor: pointer;

         &:focus{
          border: 2px solid $white-color;
          animation: buttonMove 0.2s ease-in-out;
        }

        @keyframes buttonMove {

          from{
            transform: translateY(0px);
           }

           to{
            transform: translateY(-5px);
           }  

           
        }
       }


     }
   }